# kubernetes-client/gen commit to use for code generation.
export GEN_COMMIT=7ac2e3d

# GitHub username/organization to clone kubernetes repo from.
export USERNAME=kubernetes

# Kubernetes branch/tag to get the OpenAPI spec from.
export KUBERNETES_BRANCH="v1.30.2"

# client version for packaging and releasing. It can
# be different than SPEC_VERSION.
export CLIENT_VERSION="0.1-SNAPSHOT"

# Name of the release package
export PACKAGE_NAME="your_org/your_project"

export OPENAPI_GENERATOR_COMMIT=875c3ec
